*{
    padding:0;
    margin:0;
    list-style:none;
    text-decoration:none;
    box-sizing: border-box;
}
html,body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

@font-face {
    font-family:unbounded-regular;
    src: url('Unbounded/static/Unbounded-Regular.ttf');
}
@font-face {
    font-family:poppins-light;
    src: url(Poppins/Poppins-Light.ttf);
}
@font-face {
    font-family:poppins-medium;
    src: url('Poppins/Poppins-Medium.ttf');
}
@font-face {
    font-family:ubuntu-light;
    src: url('Ubuntu/Ubuntu-Light.ttf');
}
@font-face {
    font-family:Ubuntu-medium;
    src: url('Ubuntu/Ubuntu-Medium.ttf');
}
@font-face {
    font-family:ubuntu-bold;
    src: url('Ubuntu/Ubuntu-Bold.ttf');
}
header{
    background-color:#310055;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    padding:10px;
    width:100%;
}
.logo{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
}
.image-logo{
    width:50px;
    border-radius:50%;
    cursor:pointer;
}
.logo-name{
    font-size:16px;
    color:white;
    text-align:left;
    margin:5px;
    font-family:"unbounded-regular"
}

.fa-bars{
    color:white;
    font-size:26px;
    transition: transform 0.3s;
} 
.fa-bars-rotate{
    transform: rotate(90deg);
  }
.menu-list-hidden{
    position:absolute;
    background-color:white;
    top:9%;
    right:0%;
    width:160px;
    box-shadow: 0px 0px 10px rgb(80, 80, 80);
    border-bottom-left-radius:10px;
    display:none;  
    z-index:2; 
}

.menu-list-hidden>ul{
    display:block;
    margin:15px 0px;
}

.menu-list-hidden>ul>li{
    color:#5a189a;
    font-family: "poppins-light";
    line-height:50px;
    transition:0.3s,color 0.3s;
}


.menu-list-hidden>ul>li:hover{
    background:#9d4edd;
    color:white;
    }
    .menu-list-hidden>ul>li>a{
        color:inherit;
        margin:0px 10px;
        
    } 

    #reveal{
        opacity: 0; /* Initially hidden */
        transform: translateY(40px); /* Move down */
        transition: opacity 0.5s ease, transform 0.5s ease; /* Transition effect */
    }
    
    #reveal.active {
        opacity: 1; /* Fully visible */
        transform: translateY(0); /* Move to original position */
    }


.main-content{
   background:linear-gradient(to bottom,#d8b1ff4d,#d8b1ff48);
   display: flex;
   flex-direction: column; 
   align-items: center;
 
}
.first-main-content-text-container{
    display:flex;
    flex-direction:column;
    align-items: center;
    max-width:100%;
    padding:5px 0px 0px 5px;
}


.first-main-content-text{
    margin:0px 0px 20px 0px;
    color:#47026c;
    font-family:"ubuntu-light";
    font-size:36px;
    text-align:center;
}

.first-main-content-mini-text{
    margin:0px 5px 10px 5px;
    font-family:"poppins-light";
    line-height:24px;
    font-size:16px;
    text-align:center;
    color:rgb(44, 43, 43);
}
.large-contact-conatainer{
    display:none;
}
.contact-conatainer{
    background:#3c096c;
    background: linear-gradient(0deg, #3c096c 0%, #7b2cbf 100%);
    border:none;
    padding:13px 50px 13px 50px;
    text-align: center;
    align-items: center;
    border-radius:13px;  
    color:white;
    font-family:"poppins-light";
    font-size:16px;

  }
  .contact-conatainer:before {
    height: 0%;
    width: 2px;
  }
  .contact-conatainer:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  }
  .large-screan-doctor-image{
    display: none;
}

.contact-container{
    display:flex;
    flex-direction:column;
    align-items: center; 
    
}
.first-image-content-image-container{
    margin:0px 10px 10px 10px;
    align-items: center;
    max-width: 100%;
    border:15px solid #aa9bb854;
    border-radius:9px;
    max-width: 100%;

}
.doctor-image{
    max-width:100%;
    width:400px;
}
.marquee{
    background: linear-gradient(0deg, #3c096c 0%, #7b2cbf 100%);
    color:white;
    padding:15px 0px 15px 0px;
    margin:25px 0px 0px 5px;
    max-width:100%;
    width:98%;
    border-radius: 10px;
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
    -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -8px -8px 8px 0 rgba(255,255,255,.2),
    inset 8px 8px 8px 0 rgba(0, 0, 0, .4);
}
.marquee-text{
    animation:  scroll linear infinite; 
    font-family:"ubuntu-medium";
    font-size:30px;
     }
@keyframes scroll {
    from{
        transform: translateX(100%);
    }    
    to{
        transform: translateX(-100%);
    }
}
.nd-content{
    display:flex;
    flex-direction: column;
    position: relative;
    margin-top:20px;
}
.doc-gudiance-image-container{
    margin:0px 10px 0px 10px;
    align-items: center;
    max-width: 100%;
    border:15px solid #aa9bb854;
    border-radius:9px;
    }
.doc-image-container{
    margin:0px 10px 10px 10px;
    align-items: center;
    max-width: 100%;
    border:15px solid #aa9bb854;
    border-radius:9px;
}

.doc-image{
    max-width:100%;
    margin:0 auto;
} 


.nd-content-main-text{
    margin:30px 5px 30px 5px;
    color:#47026c;
    font-family:"ubuntu-light";
    font-size:36px;
    text-align:center;
}
.nd-content-mini-text{
    margin:0px 15px 0px 15px;
    font-family:"poppins-light";
    line-height:24px;
    font-size:16px;
    text-align:justify;
    color:rgb(44, 43, 43);
}

.rd-content{
    background:linear-gradient(to bottom,#d8b1ff4d,#d8b1ff48);  
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-top:30px;
    width:100%;

}
.rd-image-container{
    display:block;
    margin-top:0px;

}

.rd-content-main-text{
    margin:30px 5px 30px 5px;
    color:#47026c;
    font-family:"ubuntu-light";
    font-size:36px;
    text-align:center;
}
.rd-content-mini-text{
    margin:-10px 15px 0px 15px;
    font-family:"poppins-light";
    line-height:24px;
    font-size:16px;
    text-align:justify;
    color:rgb(44, 43, 43);
}
.rating-container{
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: auto ;
}
.twenty-four-hours{
    font-size:3.5em;
    color:#47026c;
    font-family: "Ubuntu-medium";
    line-height:1.6em;
    text-align: center;
}
.twenty-four-hours-mini-text{
    font-family: "poppins-light";
    font-size:16px;
    margin-bottom: 15px;;
}


.fourth-content{
    background-color:#59189a;
    display:flex;
    flex-direction:column;
    align-items: center;
    margin:0px;
    text-align: center;

}
.gen-container{
    border:1px solid rgba(255, 255, 255, 0.226);
    border-top:none;
    border-left:none;
    border-right:none;
    margin:0px 6px 0px 6px;
    display:block;
}
.fth-content-main-text{
    margin:50px 0px 30px 0px;
    color:white;
    font-family:"ubuntu-light";
    font-size:2em;
    text-align:center;
    position: relative;
}

.material-symbols-outlined{
    color:white;
    font-size:8em;
    text-align:center;
    margin:30px 0px 5px 0px;
    transition: transform 0.3s ease-in-out;
    }
.material-symbols-outlined:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
  }
  
    
.genetics-main-text{
    color:white;
    font-family: "poppins-light";
    font-size:28px;
    margin-bottom:5px;

}
.genetics-mini-text{
    text-align:center;
    color:white;
    font-size:15px;
    font-family:"ubuntu-light";
    line-height:20px;
    margin-bottom: 30px;
    
}
.fifth-content{
    background:linear-gradient(to bottom,#d8b1ff4d,#d8b1ff48); 
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;   
}

.fifth-content-main-text{
    margin:30px 0px 15px 0px;
    color:#47026c;
    font-family:"ubuntu-light";
    font-size:35px;
    text-align:center;
}
.fifth-content-mini-text{
    margin:5px 20px 0px 15px;
    font-family:"poppins-light";
    line-height:24px;
    font-size:16px;
    text-align:justify;
    color:rgb(44, 43, 43);
}
.fifth-content-images-container{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-bottom:25px
}

.fifth-content-images{
    margin:40px 0px 0px 0px;
    max-width:100%;
    width:180px;
    height:180px;
    border-radius:100%;
    transition: transform 0.3s ease-in-out;
}
.fifth-content-images:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
.fifth-content-image-main-text{
    margin:10px 0px 5px 0px;
    color:#47026c;
    font-family:"ubuntu-light";
    font-size:24px;
    text-align:center;
}
.fifth-content-image-mini-text{
    margin:5px 10px 0px 15px;
    font-family:"poppins-light";
    line-height:20px;
     font-size:15px;
    text-align:center;
    color:rgb(44, 43, 43);    
}

.sixth-content{
        background-image: url('purple-pic.jpg'); /* Ensure this path is correct */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom:30px;
        height:35vh;
        position: relative;
        display:flex;
        flex-direction: column;
        align-items:center;
        
    }
    .sixth-content::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color:rgba(54, 69, 79, 0.555);
        z-index: 1; 
    }
    .fa-quote-left{
        font-size:6em;
        color:rgba(255, 255, 255, 0.5);
        z-index:2; 
        position: relative;
    }
    .sixth-content-text{
        margin:0px 15px 0px 15px;
        font-family:"poppins-light";
        line-height:24px;
        font-size:18px;
        text-align:center;
        color:white; 
        z-index:2;
    }
   

    .seventh-content{
        background-color:#59189a;
        position: relative;
        display:flex;
        flex-direction: column;
        align-items:center; 
        width:100%;        
    }
    .seventh-image-container{
        margin:20px 0px 0px 0px;
        align-items: center;
        border:15px solid #aa9bb834;
        border-radius:9px;
        }
    
    .nurse-portrait{
        max-width:100%;        
        margin:auto;
        position:relative;
        
    }
 .seventh-text-container{
    align-items: center;
    display: block;
    margin:0px 10px 0px 10px;
 }
    .seventh-content-main-text{
        margin:10px 15px 5px 15px;
        color:white;
        font-family:"ubuntu-light";
        font-size:35px;
        text-align:center;
        position: relative;
    }
    
   .seventh-content-mini-text{
        margin:0px;
        font-family:"poppins-light";
        line-height:24px;
        font-size:16px;
        text-align:center;
        color:white;   
   }
    .QandA{
        display:flex;
        flex-direction:column;
        align-items:center;
        margin:10px 0px 20px 20px;
   }
   .question-cover{
    position:relative;
    display:flex;
    flex-direction:row;
    align-items:center;
    text-align:left;
   }
   .fa-minus{
    display:none;
    color:white;
    font-size:16px;
    position: relative;
    margin-top:8px;

   }
   .fa-plus{
    color:white;
    font-size:16px;
    margin-top:8px;
    position: relative;

   }
   .question{
    margin:10px 0px 2px 0px;
    font-family:"ubuntu-light";
    line-height:24px;
    font-size:16px;
    text-align:center;
    color:white;
  
   }
   .answer-mini-text{
    margin:3px 0px 10px 0px;
    font-family:"poppins-light";
    line-height:24px;
    font-size:16px;
    text-align:justify;
    color:white;    
    width:300px;
   }
   .question-container{
    display: flex;
    flex-direction:column;
    align-items:center;
   } 
   footer{
    background:linear-gradient(to bottom,#d8b1ff4d,#d8b1ff48);  
    position:relative;
    width:100%;
   }
   .footer-main-header{
    margin:30px 25px 20px 25px;
    color:#47026c;
    font-family:"ubuntu-light";
    font-size:36px;
    text-align:center;
   }
   .footer-mini-text{
    font-family:"poppins-light";
    margin:0px 30px 0px 30px;
    padding:3px;
    line-height:24px;
    font-size:16px;
    text-align:center;
    color:rgb(44, 43, 43);
    max-width: 100%;

   }
   .footer-contact-us-container{
    align-items:center;
    display:flex;
    flex-direction:column;
    color:#47026c;
    position: relative;
   }
  

   .footer-image-container{
    margin:0px 10px 10px 10px;
    align-items: center;
    max-width: 100%;
    border:15px solid #aa9bb854;
    border-radius:9px;

}
.footer-image{
    max-width:100%;
    width:400px;
} 
  .icons-container{
    display:flex;
    flex-direction:row;
    align-items: center;
    margin:25px
   }
   
   .icon-text{
      font-family:"ubuntu-light";
      font-size:20px;
      padding:3px;
      width:95px
   }
   .fa-facebook,.fa-instagram,.fa-tiktok{
    background: linear-gradient(to bottom, #d8b1ff4d, #d8b1ff48);
    transition: background 0.3s ease, transform 0.3s ease; 
    display: inline-block; 
    padding:15px;
    border-radius:10px;
    margin:0px 2px 0px 2px;
   }
   .fa-facebook:hover,.fa-instagram:hover,.fa-tiktok:hover{
    background: #47026c;
    transform: scale(1.1);
    color:whitesmoke;
   }
    
   .icons-mini-text{
    font-family: "ubuntu-light";

   }
   .copy-right-container{
    background-color: #47026c;
    width:100%;
    padding:20px;
    align-items: center;
    margin-top:0px;
   }
   .copy-right-text{
    font-family:"ubuntu-light";
    font-size:14px;
    color:whitesmoke;
    text-align: center;
   }

   @media (min-width:768px) and (max-width:1024px){

    header{
        padding:10px;
        width:100%;
    }
    .logo{
        display:flex;
        flex-direction: row;
        justify-content:center;
        align-items:center;
    }
   
    .logo-name{
        font-size:17px;
        margin:7px;
    }
    
    .fa-bars{
        color:white;
        font-size:28px;
        transition: transform 0.3s;
    } 
    .fa-bars-rotate{
        transform: rotate(90deg);
      }
    .menu-list-hidden{
        position:absolute;
        background-color:white;
        top:8%;
        right:0%;
        width:250px;
        box-shadow: 0px 0px 15px rgb(80, 80, 80);
        border-bottom-left-radius:15px;
        display:none;     
    }
    
    .menu-list-hidden>ul{
        display:block;
        margin:15px 0px;
        align-items:center;
    }
   
    .first-main-content-text-container{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content: center;
        margin:30px 0px 0px 0px;
       }
     
       .first-main-content-text{
        color:#47026c;
        font-family:"ubuntu-light";
        font-size:3.3em;
        align-items: center;
        margin:0px;
        width:x;
    }
    
    .first-main-content-mini-text{
        margin:15px 100px 10px 100px;
        font-family:"poppins-light";
        line-height:24px;
        font-size:18px;
        text-align:center;
        color:rgb(44, 43, 43);
    }
    .large-contact-conatainer{
        display:none;
    }

    .first-image-content-image-container{
        margin:15px 15px 20px 15px;
        align-items: center;
        max-width: 100%;
        border:30px solid #aa9bb854;
        border-radius:10px;
        max-width:100%;

    
    }
    .doctor-image{
        width:100%;
        max-width:100%;

    }
    .contact-conatainer{
        border:none;
        padding:15px 80px 15px 80px;
      }
      
      .doc-gudiance-image-container{
        margin:15px 15px 20px 15px;
        align-items: center;
        max-width: 100%;
        border:30px solid #aa9bb854;
        border-radius:10px;
      }
      .doc-image{
        max-width:100%;
        width:800px;        
      }

      .nd-content-main-text{
        margin:0px 10px 30px 10px;
        font-size:3.5em;
    
    }
    .nd-content-mini-text{
        font-size:17px;
    }
    
  
    .doc-image-container{
        margin:20px 15px 20px 15px;
        align-items: center;
        max-width: 100%;
        border:30px solid #aa9bb854;
        border-radius:10px;
    }
    
    .rd-content-main-text{
        margin:30px 5px 20px 5px;
        font-size:3.4em;
    }
    .rd-content-mini-text{
        margin:10px 55px 0px 55px;
        font-size:17px; 
        text-align: center;
    }

    .rating-container{
        display:flex;
        flex-direction:row;
        text-align:left;
        align-items:center;
        margin:15px 0px 0px 0px;
        }
    .twenty-four-container{
        display: flex;
        flex-direction:column;
        align-items:center;
        margin-right:50px;
        width: 150px; 
        text-align:center;
    }
    .twenty-four-hours{
        font-size:3.5em;
        text-align:center;
        
        margin:0px;
    }
    .twenty-four-hours-mini-text{
        font-size:17px;        
    }
    
    .fourth-content{
        width:100%;
        }

        .fourth-content{
            background-color:#59189a;
            display:flex;
            flex-direction:column;
            align-items: center;
            margin:0px;
            text-align: center;
            width:100%;
        
        }
        .fth-content-main-text{
            margin:30px 10px 10px 10px;
            color:white;
            font-family:"ubuntu-light";
            font-size:3.4em;
            text-align:center;
            position: relative;
        } 
        .fourth-content-main-text-container{
            display:block;
        }
        .fourth-diagnostic-tools-container{
            display:grid;
            grid-template-columns: repeat(2, 2fr);
        }
        .gen-container{
            border:1px solid rgba(255, 255, 255, 0.226);
            border-top:none;
            border-right:none;
            margin:0px;
            display:block;
        }
        
        .genetics-main-text{
            color:white;
            font-family: "poppins-light";
            font-size:26px;
            margin-bottom:0px;
        
        }
        .genetics-mini-text{
            text-align:center;
            color:white;
            font-size:16px;
            font-family:"ubuntu-light";
            line-height:20px;
            margin:0px 30px 30px 30px;    
        }
        
    .fifth-content{
        width:100%; 
    }
    
    .fifth-content-main-text{
        font-size:3.5em;
    }
   
     .fifth-content-mini-text{
        margin:10px 20px 20px 20px;
        font-size:17px;
        text-align:center;
    } 

  
    
    .fifth-content-images{
        width:250px;
        height:250px;
    }
    
    .fifth-content-image-main-text{
        margin:13px 0px 5px 0px;
        font-size:26px;
    }
    .fifth-content-image-mini-text{
        margin:5px 10px 0px 15px;
        font-size:17px;
        text-align:center;
        width:500px; 
    }
    
    .sixth-content{
         height:30vh;  
         margin:30px 0px 0px 0px;        
        
    }
      
        .fa-quote-left{
            font-size:8em;
            margin-top:10px;
            
        }
        .sixth-content-text{
            margin:0px 35px 0px 35px;
            font-size:24px;
            line-height: 1.2em;
        }
        .seventh-content{
            width:100%;        
        }
        .seventh-image-container{
            margin:20px 15px 20px 15px;
            align-items: center;
            max-width: 100%;
            border:30px solid #aa9bb854;
            border-radius:10px;
            }
        .nurse-portrait{
            max-width:100%;        
            width:800px;            
        }
       .seventh-text-container{
          align-items: center;
          display: block;
          margin:0px 10px 0px 10px;
       }
      .seventh-content-main-text{
          margin:10px 25px 5px 25px;
          font-size:3.5em;
          position: relative;
      }
        
       .seventh-content-mini-text{
            margin:10px 25px 5px 25px;
            font-family:"poppins-light";
            line-height:24px;
            font-size:17px;
            text-align:center;
            color:white;   
       }
        .QandA{
            display:flex;
            flex-direction:column;
            align-items:center;
            margin:10px 20px 20px 20px;
       }
       .question{       
            font-size:17px;
            text-align:left;
            position:relative;
       }
       .answer-mini-text{
        margin:3px 20px 5px 20px;
        font-size:17px;
        width:300px;
       }
      
       .footer-main-header{
        margin:30px 25px 20px 55px;
        font-size:3.5em;
       }
       .footer-mini-text{
        margin:0px 30px 0px 30px;
        padding:3px;
        font-size:17px;    
       }
       .footer-contact-us-container{
        margin-top:20px;       
       }
       .footer-image-container{
        margin:15px 10px 20px 10px;
        align-items: center;
        width: 100%;
        border:30px solid #aa9bb854;
        border-radius:10px;       
       }
       .footer-image{
        width:100%;
        }
       .icons-container{
        display:flex;
        flex-direction:row;
        align-items: center;
        margin:25px
       }
   
       .fa-facebook:hover,.fa-instagram:hover,.fa-tiktok:hover{
        background: #47026c;
        transform: scale(1.1);
        color:whitesmoke;
       }  
    
   }
  

   @media (min-width:1024px) and (max-width:2154px){
     .fa-bars{
        display:none;
     }

     .menu-list-hidden{
        position:relative;
        background:none;
        box-shadow:none;
        width:100%;
        display:block;
        flex-direction:row;
        z-index:none;
        top:0%;
        left:0%;
    }
    
    .menu-list-hidden>ul{
        display:flex;
        flex-direction: row;
        align-items: center;
        margin:0;
        padding:0;
      
    }
    
    .menu-list-hidden>ul>li{
        color:white;
        padding:0px;
        margin:0px 3px 0px 3px;
        font-family: "poppins-light";
        border-radius:5px;
        
    }
    
    
    .menu-list-hidden>ul>li:hover{
        background-color:#7e5f9457;
        transition: background-color 0.3s;
        padding:0px;
        }
        
    
   .first-main-content-text-container{
    display:flex;
    flex-direction:row;
    align-items:center; 
   }

   .first-main-content-text-container-cover{
    display:flex;
    flex-direction:row;
    align-items: center;
    margin:50px 0px 50px 0px;
   }

   .first-content-text-container{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin:0px 80px 0px 0px;
   }

    .first-main-content-text{
    font-size:4em;
    text-align: left;
    width:500px;
    margin:0px 0px 10px 0px;
    }
    
.first-main-content-mini-text{
    font-family:"poppins-light";
    line-height:24px;
    font-size:16px;
    text-align:left;
    color:rgb(44, 43, 43);
    width:300px;
    margin:0px 200px 20px 0px;
}
.contact-container{
    display:none;
}
.large-contact-conatainer{
    display:block;
    background:#3c096c;
    background: linear-gradient(0deg, #3c096c 0%, #7b2cbf 100%);
    border: none;
    margin:10px 310px 0px 0px;
    padding:15px 50px 15px 50px;
    text-align: center;
    border-radius:13px;  
    color:white;
    font-family:"poppins-light";
    font-size:16px;
}
 .large-contact-conatainer:before {
    height: 0%;
    width: 2px;
  }
  .large-contact-conatainer:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  }
.first-image-content-image-container{
    margin-right:10px;
    max-width: 100%;
    border:30px solid #aa9bb854;
    border-radius: 10px;

}
.doctor-image{
    border-radius:0px;
    max-width:100%;
    width:600px;
    
}
.nd-content-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;

}
.doc-gudiance-image-container{
    margin:30px 0px 0px 15px;
    max-width: 100%;
    border:30px solid #aa9bb854;
    border-radius: 10px;
    height:fit-content;
    }
.nd-content-text-container{
    display:flex;
    flex-direction: column;
    margin:0px 10px 0px 150px;
    width:550px;
}
.nd-content-main-text{
    margin:30px 5px 20px 5px;
    color:#47026c;
    font-family:"ubuntu-light";
    font-size:3.5em;
    text-align:left;
    width:440px
}
.nd-content-mini-text{
    margin:0px 5px 0px 5px;
}
.rd-content-container{
    display:flex;
    flex-direction:row-reverse;
    justify-content:space-between;
    width:100%;
    margin-bottom:30px;
}
.rd-image-container{
    display:block;
}
.doc-image-container{
    margin:30px 15px 0px 0px;
    max-width: 100%;
    border:30px solid #aa9bb854;
    border-radius: 10px;
    height:fit-content;
}
.doc-image{
    margin-top:0px;
    border-radius:0px;
    max-width:100%;
}
.rd-text-container{
    display:flex;
    flex-direction: column;
    margin:0px 0px 0px 50px;
    width:500px;
}
.rd-content-main-text{
    margin:30px 5px 15px 5px;
    color:#47026c;
    font-family:"ubuntu-light";
    font-size:3.5em;
    text-align:left;

}
.rd-content-mini-text{
    margin:0px 5px 15px 5px;
    font-family:"poppins-light";
    line-height:24px;
    font-size:16px;
    text-align:justify;
    color:rgb(44, 43, 43);  
    width:370px;
    }
.rating-container{
    display:flex;
    flex-direction:row;
    text-align:left;
    align-items:start;
    margin:10px 0px 0px 0px;
    width: 250px;
    }
.twenty-four-container{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-right:50px;
    width: 150px; 
    text-align:left;
}
.twenty-four-hours{
    font-size:3.3em;
    color:#47026c;
    font-family:"Ubuntu-medium";
    line-height:1.2em;
    text-align:left;
    margin:0px;
}
.twenty-four-hours-mini-text{
    font-family: "poppins-light";
    font-size:16px;
}
.ninty-nine-container{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-left:-30px;
    
}
.fourth-content{
    background-color:#59189a;
    display:flex;
    flex-direction:column;
    align-items: center;
    margin:0px;
    text-align: center;
    width:100%;

}
.fourth-content-main-text-container{
    display:block;
}
.fourth-diagnostic-tools-container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}
.gen-container{
    border:1px solid rgba(255, 255, 255, 0.226);
    border-top:none;
    border-right:none;
    margin:0px;
    display:block;
}

.genetics-main-text{
    color:white;
    font-family: "poppins-light";
    font-size:26px;
    margin-bottom:0px;

}
.genetics-mini-text{
    text-align:center;
    color:white;
    font-size:16px;
    font-family:"ubuntu-light";
    line-height:20px;
    margin:0px 30px 30px 30px;    
}


.fifth-content{
    background:linear-gradient(to bottom,#d8b1ff4d,#d8b1ff48); 
    width:100%;
    position: relative;
    display:flex;
    flex-direction:row;
}
.fifth-content-container{
    position: relative;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    flex-direction: column;
}
.fifth-content-main-text-container{
    margin:0px 0px 0px 0px;
    width:600px;
}

.fifth-content-main-text{
    margin:10px 50px 0px 10px;
    color:#47026c;
    font-family:"ubuntu-light";
    font-size:3.3em;
    text-align:left;
    width:450px;   
}
.fifth-content-mini-text{
    margin:10px 50px 15px 10px;
    font-family:"poppins-light";
    line-height:24px;
    font-size:16px;
    text-align:left;
    color:rgb(44, 43, 43);
    width:380px;
}

.fifth-content-images-container{
    border:1px solid rgba(78, 78, 78, 0.226);
    border-top:none;
    border-left:none;
    margin:0px;
}

.fifth-content-images{
    margin:40px 0px 0px 0px;
    max-width:100%;
    width:180px;
    height:180px;
    border-radius:100%;
    transition: transform 0.3s ease-in-out;
}
.fifth-content-images:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
.fifth-content-image-main-text{
    margin:10px 0px 5px 0px;
    color:#47026c;
    font-family:"ubuntu-light";
    font-size:24px;
    text-align:center;
}
.fifth-content-image-mini-text{
    margin:5px 20px 20px 20px;
    font-family:"poppins-light";
    line-height:24px;
    font-size:16px;
    text-align:justify;
    color:rgb(44, 43, 43);  
    width:350px;
  
}
.sixth-content-container{
    display:block;
    margin:30px 0px 0px 10px; 
    border:30px solid #aa9bb834;
    border-radius:9px;   
    width:370px;   
    height:fit-content;
}
.sixth-content{
    background-image: url('purple-pic.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin:0px; 
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    height:23em;  
}
.sixth-content-text{
    width:300px;
    text-align:center;
    font-size:16px;
}

.fa-quote-left{
    font-size:6em;
    color:rgba(255, 255, 255, 0.5);
    z-index:2; 
    position: relative;
    text-align:center;
    margin-top: 50px;
}

.seventh-content{
    background-color:#59189a;
    position: relative;
    display:flex;
    flex-direction:row;
    align-items: center; 
    justify-content: space-between;
    width:100%;    
}
.seventh-content-main-text-container{
    display:flex;
    flex-direction:column;
    align-items: center;
    width:550px;
}
.seventh-image-container{
    margin:20px 0px 20px 40px;
    align-items: center;
    border:30px solid #aa9bb834;
    border-radius:9px;
    }
 
.nurse-portrait{
    max-width: 100%;
}

.seventh-content-main-text{
    margin:0px 10px 10px 38px;
    color:white;
    font-family:"ubuntu-light";
    font-size:3.5em;
    text-align:left;
    position: relative;
}

.seventh-content-mini-text{
    margin:3px 10px 20px 45px;
    font-family:"poppins-light";
    line-height:24px;
    font-size:16px;
    text-align:left;
    color:white;   
 
}
.QandA{
    position: relative;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    margin:0px 0px 0px 55px;
}
.question-cover{
display:flex;
flex-direction:row;
align-items:center;
}
.fa-minus{
display:none;
color:white;
font-size:16px;
margin:0px 0px 0px 40px;

}
.fa-plus{
color:white;
font-size:16px;
margin:0px 0px 0px 25px;

}
.question{
margin:10px 0px 0px 0px;
font-family:"ubuntu-light";
line-height:24px;
font-size:16px;
text-align:left;
width:500px;
cursor:pointer ;
}
.answer-mini-text{
margin:3px 100px 0px 0px;
font-family:"poppins-light";
line-height:24px;
font-size:14px;
text-align:left;
color:white;  
width:350px;
word-wrap:break-word;
}
footer{
    position:relative;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
   }
   .footer-main-text-container{
    display: block;
    margin:50px 35px 10px 35px;
    align-items: center;

   }
.footer-main-header{
    color:#47026c;
    font-family:"ubuntu-light";
    font-size:3.3em;
    text-align:left;
    width:500px;
   }
   .footer-mini-text{
    font-family:"poppins-light";
    margin:0px 0px 0px 40px;
    padding:3px;
    line-height:24px;
    font-size:16px;
    text-align:left;
    color:rgb(44, 43, 43);
    max-width: 100%;
    width:400px;


   }
   .footer-image-container{
    border:30px solid #aa9bb854; 
    margin:30px;
   }
   .footer-image{
    max-width:100%;
    width:600px;
     }
    .copy-right-container{
    background-color: #47026c;
    width:100%;
    padding:10px;
    align-items: center;
    margin-bottom:0px;
       }
    .copy-right-text{
    font-family:"ubuntu-light";
    font-size:16px;
    color:white;
    text-align: center;
       }
   } 

   
